@import "../../assets/style/colors.scss";

.AdminInput {
  display: flex;
  flex-direction: column;
  position: relative;

  &_isError {
    & > input {
      border-color: $AdminDecline !important;
    }
    & > .AdminInput-Error {
      display: block;
    }
  }

  &-Error {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    /* identical to box height */

    letter-spacing: -0.175439px;
    color: $AdminDecline;
    text-align: right;
  }
  &-Titles {
    font-weight: normal;
    font-size: 10.5px;
    line-height: 12px;
    letter-spacing: -0.18421px;

    color: #495057;
    padding-top: 5px;
    padding-bottom: 8px;

    display: flex;
    justify-content: space-between;
  }
  & > input {
    border: 0.5px solid #becad6;
    box-sizing: border-box;
    border-radius: 3px;
    height: 30px;
    padding-left: 12px;

    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.192982px;

    color: $AdminDarkBlue;

    &[type="range"] {
      -webkit-appearance: none;
      -moz-appearance: initial;
      display: block;
      position: relative;
      height: 8px;
      cursor: pointer;
      outline: none;
      padding: 0;

      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        cursor: pointer;
        -webkit-appearance: none;
        box-sizing: border-box;
        height: 12px;
        width: 12px;
        border: 0;
        border-radius: 50%;
        background-color: $AdminMainBlue;
      }
    }
  }
}
