@import "../../assets/style/colors.scss";

.Extra {
  &-Titie {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $MainBlack;
  }

  &-Colors {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
  }
  &-TimeRange {
    display: grid;
    grid-template-columns: max-content fit-content(224px);
    grid-auto-rows: auto;
    column-gap: 10px;
    row-gap: 8px;

    & > span {
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: $MainBlack;
      align-self: center;
    }
    &-Input {
      cursor: pointer;
      border: 0;
      border-bottom: 1px solid $GrayDark;
      color: $MainBlack;
      background-color: white;
      text-overflow: ellipsis;
      box-sizing: border-box;
      min-width: 100%;
      font-weight: 300;
    }
  }
}
