@import "../../assets/style/colors.scss";

.Paginator {
  box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
  &-Pages {
    width: max-content;
    margin: 0 auto;
    display: flex;
    color: $AdminMainBlue;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.471429px;
    &-Page {
      cursor: pointer;
      border: 1px solid white;
      text-align: center;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 50%;
      &_active {
        border: 1px solid $AdminMainBlue;
        color: white;
        background-color: $AdminMainBlue;
      }
      &:hover {
        border: 1px solid $AdminMainBlue;
      }
    }
  }
}
