@import "../../assets/style/colors.scss";

.Button {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  border-radius: 8px;
  height: 48px;
  padding-left: 48px;
  padding-right: 48px;
  outline: none;
  position: relative;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;

  &_max {
    @extend .Button_default;
    width: 100%;
  }

  &-Spinner {
    position: absolute;
    top: 8px;
    left: calc(50% - 16px);
    width: 24px;
    height: 24px;
    margin: 0 auto;
    border: 4px solid;
    border-radius: 50%;
    border-color: transparent rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0.9);
    animation: cssload-spin 690ms infinite linear;
  }

  &-Text {
    color: white;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 48px;
    text-align: center;

    &_loading {
      opacity: 0;
    }
  }

  &_loading {
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  }

  &_default {
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);

    &:hover,
    &:focus {
      background: linear-gradient(
        90deg,
        darken(#0ec261, 10%) 2.61%,
        darken(#039f67, 10%) 112.6%
      );
    }

    &:active {
      background: linear-gradient(
        90deg,
        darken(#0ec261, 20%) 2.61%,
        darken(#039f67, 20%) 112.6%
      );
    }
  }

  &_disabled {
    background: $GrayLight !important;
    pointer-events: none;
  }

  &_decline {
    background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);

    &:hover,
    &:focus {
      background: linear-gradient(
        90deg,
        darken(#493013, 10%) 2.61%,
        darken(#7b0c3b, 10%) 112.6%
      );
    }

    &:active {
      background: linear-gradient(
        90deg,
        darken(#493013, 20%) 2.61%,
        darken(#7b0c3b, 20%) 112.6%
      );
    }
  }

  &_main {
    @extend .Button_default;

    @media (max-width: 767px) {
      border-radius: 0;
      width: 100%;
    }
  }

  &_slider {
    border-radius: 4px;

    &_index {
      &_0 {
        background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
        &:hover,
        &:focus {
          background: linear-gradient(
            90deg,
            darken(#13493f, 10%) 2.61%,
            darken(#0c7b1b, 10%) 112.6%
          );
        }

        &:active {
          background: linear-gradient(
            90deg,
            darken(#13493f, 20%) 2.61%,
            darken(#0c7b1b, 20%) 112.6%
          );
        }
      }

      &_1 {
        background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
        &:hover,
        &:focus {
          background: linear-gradient(
            90deg,
            darken(#132949, 10%) 2.61%,
            darken(#0c7b67, 10%) 112.6%
          );
        }

        &:active {
          background: linear-gradient(
            90deg,
            darken(#132949, 20%) 2.61%,
            darken(#0c7b67, 20%) 112.6%
          );
        }
      }

      &_2 {
        background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
        &:hover,
        &:focus {
          background: linear-gradient(
            90deg,
            darken(#493013, 10%) 2.61%,
            darken(#7b0c3b, 10%) 112.6%
          );
        }

        &:active {
          background: linear-gradient(
            90deg,
            darken(#493013, 20%) 2.61%,
            darken(#7b0c3b, 20%) 112.6%
          );
        }
      }

      &_3 {
        background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
        &:hover,
        &:focus {
          background: linear-gradient(
            90deg,
            darken(#281349, 10%) 2.61%,
            darken(#720c7b, 10%) 112.6%
          );
        }

        &:active {
          background: linear-gradient(
            90deg,
            darken(#281349, 20%) 2.61%,
            darken(#720c7b, 20%) 112.6%
          );
        }
      }
    }
  }
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
