@import '../../../../colors/colors.scss';

.Slider {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  &-Arrow {
    height: 100%;
    position: absolute;
    width: 32px;

    @media (min-width:1440px) {
      width: 64px;
    }

    background-image: url(./assets/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: rgba($MainAccent, 0.2);
    }

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
      transform: rotate(180deg);
    }
  }

  &-Dots {
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
    bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-Dot {
    width: 8px;
    height: 8px;
    background-color: $GrayLight;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;

    &_active {
      background-color: $MainAccent;
    }
  }

  &-Slide {
    width: 0;
    transition: width 0.5s ease-in-out;

    &_active {
      width: 100%;
    }

    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-Content {
      overflow: hidden;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      padding-left: 64px;
      padding-right: 64px;
      padding-top: 285px;
      background-blend-mode: overlay;

      @media (min-width:1440px) {
        padding-left: 96px;
        padding-right: 96px;
        padding-top: 237px;
      }
    }

    &-Name {
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      color: #FFFFFF;
    }

    &-Text {
      font-weight: 300;
      font-size: 24px;
      line-height: 90%;
      color: $GrayLight;
      min-width: 280px;
    }
  }
}
