@import "../../assets/style/colors.scss";

.AdminTable {
  &-Table {
    width: 100%;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */

    letter-spacing: -0.377143px;

    border-collapse: collapse;

    color: #3d5170;
    & th {
      font-weight: bold;
    }

    & td {
      font-weight: normal;
    }

    & tr {
      height: 36.5px;

      &:nth-child(odd) {
      }

      &:nth-child(even) {
        background: $GrayLight;
      }
    }
  }
}
