@import "../../assets/style/colors.scss";

.Checkbox {
  box-sizing: border-box;
  margin: 4px;
  margin-left: 0;
  margin-right: 3px;
  padding-left: 20px;
  height: 16px;
  width: max-content;

  &-Input {
    display: none;

    &:checked + .Checkbox-FakePoint {
      & {
        color: $MainBlack;
      }
      &::before {
        border: 1px solid $MainAccent;
      }
      &::after {
        content: "✔";
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        left: 4px;
        top: 0px;
      }
    }
  }

  &-Label {
    cursor: pointer;
  }

  position: relative;
  &-FakePoint {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $GrayDark;
    &::before {
      content: "";
      background-color: white;
      position: absolute;
      display: block;
      left: 2px;
      top: 2px;
      border: 1px solid $GrayDark;
      width: 12px;
      height: 12px;
      box-sizing: border-box;
    }
  }
}
