@import "../../assets/style/colors.scss";

.AdminHeader {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 68px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
  & > * {
    box-sizing: border-box;
    height: 100%;
  }

  &-SearchBar {
    flex-grow: 1;
  }

  &-Notification {
    box-shadow: 0.5px 0px 0px #cacedb, -0.5px 0px 0px #cacedb;
    width: 68px;
    background: url(../../assets/icons/Notifications.svg) no-repeat center;
    position: relative;
    &-Count {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $AdminDecline;
      color: white;
      font-style: normal;
      font-weight: 600;
      font-size: 9px;
      line-height: 13px;
      text-align: center;
      position: absolute;
      left: 52.68%;
      top: 51.21%;
    }
  }

  &-Profile {
    padding: 14px 26px;
    width: 218px;
    display: flex;
    align-items: center;
    position: relative;
    &-Avatar {
      border-radius: 50%;
    }
    &-Name {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: -0.471429px;
      padding-left: 14px;
      color: $AdminDarkBlue;
    }
    &-ToggleButton {
      cursor: pointer;
      position: absolute;
      right: 30px;
      top: 33px;
      border: 7px solid transparent;
      border-top: 5px solid #abb6bf;
      transform-origin: center 25%;
      transition: transform 0.25s ease-in-out;
      &:hover {
        border-top: 5px solid #7f878d;
      }
      &_isOpened {
        transform: rotate(180deg);
      }
    }

    &-Drawer {
      z-index: 200;
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      background-color: white;
      min-height: 60px;
      display: none;
      transition: display 1s;
      box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
      &_isOpened {
        display: block;
      }
    }
  }
}
