@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: './fonts/roboto/Roboto-Thin.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: './fonts/roboto/Roboto-ThinItalic.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: './fonts/roboto/Roboto-Light.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: './fonts/roboto/Roboto-LightItalic.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: './fonts/roboto/Roboto-Regular.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: './fonts/roboto/Roboto-Italic.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: './fonts/roboto/Roboto-Medium.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: './fonts/roboto/Roboto-MediumItalic.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: './fonts/roboto/Roboto-Bold.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: './fonts/roboto/Roboto-BoldItalic.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: './fonts/roboto/Roboto-Black.ttf';
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: './fonts/roboto/Roboto-BlackItalic.ttf';
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  overflow-x: hidden;
}