@import "../../assets/style/colors.scss";

.OrderCard {
  &:not(:last-of-type) {
    box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
  }

  & .AdminStyledBlock-Content {
    display: grid;
    grid-template-columns: repeat(5, minmax(max-content, 1fr));
    justify-items: center;
    align-items: center;
    column-gap: 16px;

    box-sizing: border-box;

    @media (max-width: 1250px) {
      grid-template-columns: repeat(2, minmax(max-content, 1fr));
      grid-auto-rows: auto;
      grid-template-areas: "image text" "checks price" "buttons buttons";
    }

    @media (max-width: 650px) {
      grid-template-columns: repeat(2, minmax(max-content, 1fr));
      grid-auto-rows: auto;
      grid-template-areas: "image image" "text text" "checks price" "buttons buttons";
    }
  }
  &-Image {
    @media (max-width: 1250px) {
      grid-area: image;
    }
    max-width: 183px;
  }
  &-TextInfo {
    @media (max-width: 1250px) {
      grid-area: text;
    }
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.408571px;

    color: #889098;
    &-Text {
      &_placable {
        color: $MainBlack;
      }
    }
  }
  &-Checks {
    @media (max-width: 1250px) {
      grid-area: checks;
    }
    & .Checkbox-Input:checked + .Checkbox-FakePoint::before {
      border: 1px solid $AdminMainBlue;
    }
  }
  &-Price {
    @media (max-width: 1250px) {
      grid-area: price;
    }
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.754286px;
    color: $MainBlack;
  }
  &-Buttons {
    @media (max-width: 1250px) {
      grid-area: buttons;
    }
    display: flex;
    border: 0.5px solid #becad6;
    box-sizing: border-box;
    border-radius: 4px;
    height: 24px;
    width: 213px;
    &-Button {
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
      padding: 0;
      width: 100%;
      height: 100%;
      border: 0;
      background-color: inherit;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      /* identical to box height */

      text-align: left;
      letter-spacing: -0.345714px;

      color: #5a6169;
      padding-right: 10px;
      padding-left: 20px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 22px;
        background-position: center;
        background-repeat: no-repeat;
      }

      &_ok::before {
        background-image: url(../../assets/icons/ok_icon.svg);
      }
      &_cancel::before {
        background-image: url(../../assets/icons/cancel_icon.svg);
      }
      &_modify::before {
        background-image: url(../../assets/icons/dots_icon.svg);
      }

      &:not(:last-of-type) {
        border-right: 0.5px solid #becad6;
      }
    }
  }
}
